<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">location_city</i>Auction City</a>
    <ul class="right hide-on-med-and-down">
       <li><a href="/items"><i class="material-icons left">person_outline</i>Account</a></li>
       <li><a href="/items"><i class="material-icons left">timer</i>Closing Soon</a></li>
       <li><a href="mobile.html"><i class="material-icons left">mood</i>Charities</a></li>
       <li><a href="/contact"><i class="material-icons left">mail</i>Contact Us</a></li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Auctions<i class="material-icons right">arrow_drop_down</i></a></li>

      <li><% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %></li>
    </ul>
  </div>
</nav>
