<div class="container">


<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://res.cloudinary.com/savscloud/image/upload/v1493117417/sbwgirl_goib8w.jpg" alt="">
        <div class="caption left-align">
          <h3 class="white-text">A platform that reaches out to kids.</h3>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/savscloud/image/upload/v1493122930/sbwAB_rnkftz.jpg" alt="">
        <div class="caption left-align">
          <h3 class="white-text">Where the heroes of today...</h3>
        </div>
      </li>
      <li>
        <img src="http://res.cloudinary.com/savscloud/image/upload/v1493117415/sbw_cue4b6.jpg" alt="">
        <div class="caption right-align">
          <h3 style="white text">...can help the heroes of tomorrow</h3>
        </div>
      </li>
      <!-- <li>
        <img src="http://res.cloudinary.com/savscloud/image/upload/v1493114126/kidsplayingsport_lewify.jpg" alt="">
        <div class="black-text caption left-align">
          <h3 class="white-text">Investing in the youth and getting them outside playing</h3>
        </div>
      </li> -->
    </ul>
  </div>
  </div>

<div id="intro" class="section">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Grassroots is an auction platform where 100% of the proceeds are invested in the growth and development of sport, and it's surrounding communities.</h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo center promo card z-depth-4 offset-m3 green lighten-5 card-panel hoverable">
                    <i class="card-content white-text"></i>
                    <h5 class="card-title">Helping Communities</h5>
                    <p class="light center">With the proceeds going to local communities and sports groups, facilities and infastructure will improve significantly and provide an excellent base for future sports.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo card z-depth-4 offset-m3 green lighten-5 card-panel hoverable">
                    <i class="card-content white-text"></i>
                    <h5 class="card-title">Helping Kids</h5>
                    <p class="light center">This will in turn increase participation and get more kids playing organised sport, along with the physical and psychological benefits that go with it. </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo card z-depth-4 offset-m3 green lighten-5 card-panel hoverable">
                    <i class="card-content white-text"></i>
                    <h5 class="card-title">Helping Sport</h5>
                    <p class="light center">LThe stars will get added visibility and goodwill whilst donating their merchandise and coaching sessions, which will help promote both the individual and the organisation they represent.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer transparent">
          <div class="footer-copyright">
            <div class="container black-text">
            2017 Blank Canvas Ltd
            <a class="black-text text-lighten-4 right" href="https://github.com/savsaville/CFA-TermTwoProject-SportsAuction">See More</a>
            </div>
          </div>
        </footer>
