<div class="container">
  <div class="row">
    <div class="col s6 devise devise-box-overflow z-depth-4 offset-m3 green lighten-5">

      <h4>You have been lucky enough to win this amazing item</h4>
      <%= image_tag @item.image.url(:medium) %>
      <h5>Click on the button below to claim your prize</h5>
      <div class="align-center">


      <%= render 'partials/stripe' %>
      </div>
    </div>
  </div>
</div>
