
   <div class="container">
     <div class="row">
       <div class="col s6 devise devise-box-overflow z-depth-4 offset-m3 green lighten-5">

         <h4>Thanks, you paid <strong>$<%=@item.auction.current_bid %></strong></h4>
         <h5>The money will be going out to the <strong><%=@item.charity %></strong> while this amazing item will be shipped out to you.</h5>
           <h5>Please click the button below to message <strong> <%=@item.sponsor %></strong>.</h5>

           <%= link_to "Message Centre", conversations_path, class: "btn btn-primary", method: :get %>
         </div>
       </div>
     </div>
